<div class="mainTitle">About</div>

<div class="profile col-sm-10 col-sm-offset-1">
	<div class="row text-center">
		<%= image_tag 'history.png', width: 450, height: 315, style: 'margin: 0 a' %>
	</div>

	<div class="row text-center" style="margin-top: 25px; font-size: 13px;">
		<div class="col-xs-10 col-xs-offset-1">
			<p>Founded in 1902, Kappa Delta is Pomona College’s oldest and largest fraternity with over 1,000 living members. Kappa Delta organizes and runs a number of different events on the Pomona campus that are open to the student body, and the brothers are active in a number of philanthropic pursuits in the greater Claremont area.</p>

			<p>Membership into Kappa Delta is reserved for those individuals at Pomona who exhibit qualities of character, intellect, leadership, and sportsmanship that we believe lead to success in all aspects of life. Many KD alumni have gone on to very successful careers in business, law, medicine, and a number of other fields, and the fraternity boasts an active alumni presence. A handful of KD alumni have served as Trustees of Pomona College, and there are two KDs that are on the current Board of Trustees.</p>

			<p>The fraternity also has a long history of giving back to Pomona. One particular tradition is The Kappa Delta Award. Established in 1926 by alumni members of Kappa Delta, The Kappa Delta Award is given at the beginning of each year to an outstanding all-around male senior who shows qualities of character, intellect, leadership, sportsmanship, and proficiency in athletic pursuits.</p>
		</div>
	</div>
	<div class="row">
		<div class="blueTitle">Board of Directors</div>
		<ul class="aboutList">
			<li class="col-sm-6">Jared Mathis '94 - President</li>
			<li class="col-sm-6">Bob O'Leary '93 - Vice President/Secretary</li>
			<li class="col-sm-6">Andrew Dialynas '10 - Treasurer</li>
			<li class="col-sm-6">Kevin Neal '94</li>
			<li class="col-sm-6">Kevin Hickey '99</li>
			<li class="col-sm-6">Gary Gwilliam '59</li>
			<li class="col-sm-6">Matt Jevsevar '11</li>
			<li class="col-sm-6">Yoshi Rothman '13</li>
			<li class="col-sm-6">Frank Pericolosi (KD Advisor)</li>
			<li class="col-sm-6">Nick Sbardellati '14 (KD President)</li>
		</ul>
	</div>
	<div class="row">
		<div class="blueTitle">Fraternity Officers</div>
		<ul class="aboutList">
			<li class="col-sm-6">Nicholas Sbardellati '14 - President</li>
			<li class="col-sm-6">Weston Staubus '14 - Vice President</li>
			<li class="col-sm-6">Sam Kaplan '15 - Treasurer</li>
			<li class="col-sm-6">Nick Bougopoulos '15 - Secretary</li>
			<li class="col-sm-6">Matt O’Connor '15 - Community Engagement Chair</li>
			<li class="col-sm-6">Kyle Roskamp '14 - Community Engagement Chair</li>
			<li class="col-sm-6">Donald Swan '15 - Inter-Fraternity Council President</li>
			<li class="col-sm-6">Sean Robinson '14 - Inter-Fraternity Council</li>
			<li class="col-sm-6">Guy Scherzer '15 - Inter-Fraternity Council</li>
			<li class="col-sm-6">Michael Weil '14 - Historian</li>
			<li class="col-sm-6">Harris Levin '14 - Social Chair</li>
			<li class="col-sm-6">Kenny Rabin '15 - Social Chair</li>
		</ul>
	</div>
</div>