<div class="mainTitle">Charity</div>

	<div class="profile col-sm-10 col-sm-offset-1 text-center">
		<div class="row text-center">
			<%= image_tag 'charity.jpg', width: 500, height: 375, style: 'margin: 0 auto;', class: 'img-responsive' %>
		</div>

		<div class="row">
			<p class="col-xs-12 col-md-6 col-md-offset-3" style="margin-top: 15px; margin-bottom: 15px;">Kappa Delta is very proud of its rich history as a philanthropic organization. Below is a list of organizations and roles that the current KD brothers have dedicated their time to.</p>
		</div>

		<div class="row">
			<div class="blueTitle">KD Charity Involvement</div>
			<ul id="charityList">
				<li>Be Perfect Foundation</li>
				<li>Pilgrim Place Festival</li>
				<li>Humane Society Volunteer</li>
				<li>Draper Center Leader</li>
				<li>Special Olympics Swim Coach</li>
				<li>Tutor for Pomona College Faculty’s Children through the College Town Committee</li>
				<li>Lacrosse Coach for Rancho Cucamonga High School and The Foothill Country Day School </li>
				<li>Homeless Lunch Program volunteer in Pomona</li>
				<li>Free Health Clinic volunteer</li>
				<li>Young Men's Circle at Pomona High School</li>
				<li>Rancho Foothill Presbyterian Hospital Volunteer</li>
				<li>Children's Hospital in Oakland, CA</li>
				<li>Coach and referee youth sports</li>
				<li>Camp Counselor at Apostolic Church of God</li>
				<li>Community Food Share volunteer in Boulder, Colorado</li>
				<li>Community Baseball Clinics Organizer</li>
			</ul>
		</div>
	
</div>