<div class="mainTitle" style="background: white; padding-bottom: 15px;">
	<% if is_admin? %>
		<div class="col-xs-12">
			<%= new_button 'New', new_job_path %>
		</div>
	<% end %>
	<div class="col-xs-12">
		<span>Jobs And Internships</span>
	</div>
</div>
<%= render 'search_columns' %>
<div id="jobs">
	<%= render 'jobs_list' %>
</div>