<div class="mainTitle indexMainTitle row">
	<div class="col-xs-10 col-xs-offset-1">
		<% if is_admin? %>
			<div class="col-xs-12">
				<%= new_button 'New', new_event_path %>
			</div>
		<% end %>
		<div class="col-xs-12">
			<span>Events</span>
		</div>
	</div>
</div>
<div class="row">
	<ul id="eventsList" class="col-md-10 col-md-offset-1 col-xs-12">
		<%= render @events %>
	</ul>
</div>

<%= will_paginate @events %>