<div class="profile col-xs-6 col-xs-offset-3">
	<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>
	<div class="mainTitle"><%= t("forem.topic.new") %></div>
	<%= render "form" %>
</div>
