<div class="profile col-xs-10 col-xs-offset-1">
	<%= render :partial => 'forem/forums/head', :locals => { :forum => @topic.forum } %>
	<div class="mainTitle"><%= t("forem.topic.new") %></div>
	<%= render "form" %>
</div>
