/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
  *= require "bootsy"
 *= require "forem/forums"
 */

// Remove  *= require_tree . because we don't want to include all css files
@import "bootstrap";
@import "bourbon";
@import "partials/normalize";
@import "partials/bits";
@import "partials/header";
@import "partials/footer";
@import "partials/links";
@import "partials/typography";
@import "partials/mobileNav";

* {
	box-sizing: border-box;
}

body, ul{
	margin: 0; 
	padding: 0;
}
li {
	list-style-type: none;
}

/* Responsive Images */
img {
	max-width: 100%;
	height: auto !important;
}

/* Site Wrap */
.siteWrap {
	background-color: white;
	transition: transform 0.2s ease;
	position: relative;
	z-index: 500;
	&.menuOpen {
		transform: translateX(240px);
	}
}

/* Nav */
.menuToggle{
	color: #ffffff;
    cursor: pointer;
    font-size: 2.5em;
    margin: 10px;
    position: absolute;
}

@media (max-width:980px){
	.menuToggle{
		display: block;
	}
	.mainNav, .topNav{
		display: none;
	}
}

/* Inputs */
#search_row{
	background: #a9c9d6; 
	height: 58px;
}
#error_explanation{
	text-align: center;
	color: #b14141;
}
.error{
	text-align: center;
	color: #b14141;
	margin-bottom: 20px;
}
.group{
	margin: 10px 0;	
}
input[type="text"]{
	width: 100%;
	//margin: 15px 0px;
}
textarea.form-control{
	width: 100%;
	height: 250px;
	resize: vertical;
}

/* Header */
#sessionText{
	color: white;
}

/* Body */
.wysihtml5-toolbar .btn.btn-default{
	margin-top: 0;
} 

.alert{
	text-align: center;
	font-size: 14px;
    padding: 23px;
}
.container{
	margin: 0 auto;
	padding: 40px 0;
	min-height: 700px;
	width: 90%;
}

li .title{
	font-size: 23px;
	text-transform: uppercase;
}

.profile{
	border: 1px solid #E6E6E6;
    font-size: 13px;
    overflow: hidden;
    padding: 15px;
    .detailTitle{
    	text-transform: uppercase;
    }
    .title{
    	text-transform: uppercase;
	    font-weight: 500;
	    font-size: 23px;
    }
}

/* Content */
.button {
    background: #e4c269;
    border: medium none;
    font-size: 18px;
    font-weight: 300;
    margin-top: 30px;
    padding: 8px 35px;
    text-transform: uppercase;
    &:hover{
    	background: #dcac2f;
    }
}

// New button changes when screen is xs
#new-sm{
	position: absolute; 
	left: 0; 
	margin: 0;
	z-index: 100;
}
@media (max-width:768px){
	.button, #new-sm{
		text-align: center;
		position: relative;
		width: 100%;
		margin: 20px 0;
		display: block;
	}
}

.mainTitle{
	width: 100%;
	margin-bottom: 15px;
	text-transform: uppercase;
	text-align: center;
	display: inline;
    float: left;
    font-weight: 300;
    font-size: 26px;
    cursor: pointer;
    position: relative;
}
.blueTitle{
    font-size: 23px;
    text-align: center;
    background: #A9C9D6;
    font-weight: 300;
    margin: 25px 0;
    padding: 10px 0;
    text-transform: uppercase;
}
.detailTitle{
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid gray;
	text-transform: uppercase;
	font-size: 13px;
}

.detailBody{
	margin-bottom: 20px;
}

.pagination{
	width: 100%;
	display: block;
	clear: both;
	padding-top: 50px;
	ul{
		display: table;
		margin: 0 auto;
	}
	li{
		display: table-cell;
	    float: left;
	    margin: 0 7px;
	}
}


/* Autocomplete */
.ui-menu{
	width: 100px;
}
.ui-menu-item{
 padding: 10px 10px;
 border: 1px solid #E5E5E5;
	background: #FFFFFF;
 color: #000000;
 cursor: pointer;
 &:hover{
		background: #d6d6d6;
		color: white;
	}
}
	
.ui-helper-hidden-accessible { display:none; }