/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

// Remove  *= require_tree . because we don't want to include all css files

 @mixin transition($time){
	    transition: background $time ease-in-out;
	    -webkit-transition: background $time ease-in-out;
	    -moz-transition: background $time ease-in-out;
 }
 @mixin border-radius($radius){
 	-webkit-border-radius: $radius;
 	-moz-border-radius: $radius;
 	-ms-border-radius: $radius;
	border-radius: $radius;
 }

html, body, ul{
	margin: 0;
	padding: 0;
	font: 12.5px helvetica neue,sans-serif;
}
li{
	list-style-type: none;
}
a {
	color: #000000;
	text-decoration: none;
	&:hover{
		color: #096baa;
	}
}
a#back{
	display: block;
    padding: 7px 0;
    text-align: center;
    width: 66px;
    @include border-radius(3px);
    margin-bottom: 10px;
    color: #818181;
    cursor: pointer;
    &:hover{
    	color: #000000;
    }
}
a.remove{
	color: #AD3E3E;
    display: block;
    margin: 10px 10px;
    float: left;
}

/* Inputs */
textarea{
	width: 400px;
	height: 200px;
}

/* Header */
header{
	width: 100%;
	height: 180px;
	background: #232b4d;
}
#logo{
	display: block;
	width: 240px;
	height: 180px;
	margin: 0 auto;
}
#topNav{
    position: absolute;
	left: 0;
    top: 0;
	background: #e6e6e6;
	text-transform: uppercase;
	li{
		float: left;
		a {
			padding: 5px 20px;
			display: block;
			@include transition(0.25s);
			&:hover, &.current{
				background: #232B4D;
				color: #FFFFFF;
			}
		}
	}
}

#bottomNav{
	background: none repeat scroll 0 0 #F7F7F7;
    height: 20px;
    margin: 0 auto;
    padding: 12px 155px;
	text-transform: uppercase;

	li{
		float: left;
		a{
			padding: 5px 20px;
			@include transition(0.25s);
			&:hover, &.current{
				background: #232B4D;
				color: #FFFFFF;
			}
		}
	}
}

/* Footer */

footer{
	clear: both;
	margin: 130px 0 0 0;
	text-align: center;
	width: 100%;
}

/* Body */
#body{
	width: 90%;
	padding: 40px 0;
	margin: 0 auto;
	min-height: 500px;
	clear: both;
}

/* Listing */

.listTitle{
	font-size: 18px;
}

.listBody{
	margin: 10px 0; 
}

.search_column{
	text-align: center;
	padding: 5px;
	@include border-radius(5px);
	border: 1px solid #CACACA;
}

#membersList, #titleList{
	li.row{
		div.cell{
			width: 16.4%;
			border-right: 1px solid #e5e5e5;
			border-bottom: 1px solid #e5e5e5;
			float: left;
			padding: 15px 0;
			text-align: center;
			a {
				display: block;
				padding-right: 12px;
				background-repeat: no-repeat;
				background-position: right center;
				color: blue;
				&.desc{
				  background-image: url(up_arrow.gif);
				}
				&.asc{
					background-image: url(down_arrow.gif);
				}
			}
		}
	}
}

/* Content */
.mainTitleContainer{
	width: 100%;
	height: 50px;
}
.mainTitle{
	display: inline;
    float: left;
    font-size: 25px;
    font-weight: 300;
}
.detailTitle{
	text-transform: uppercase;
	border-bottom: 1px solid gray;
	padding-bottom: 5px;
	margin-bottom: 10px;
	font-size: 13px;
}

.detailBody{
	margin-bottom: 20px;
}

.pagination{
	display: block;
	clear: both;
	padding-top: 50px;
	ul{
		display: table;
		margin: 0 auto;
	}
	li{
		display: table-cell;
	    float: left;
	    margin: 0 7px;
	}
}


/* Autocomplete */
.ui-menu{
	width: 100px;
}
.ui-menu-item{
	background: #FFFFFF;
    border: 1px solid #E5E5E5;
    color: #000000;
    padding: 10px 10px;
    cursor: pointer;
    &:hover{
		color: white;
		background: #d6d6d6;
	}
}
	
.ui-helper-hidden-accessible { display:none; }