// Place all the styles related to the Donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.field{
	margin: 15px 0;
}

.column{
    border-right: 1px solid #D3D3D3;
    text-align: center;
    min-height: 300px;
    &:last-child {
	    border-right: none;
	}
}

@media (max-width:768px){
	.column{
		border-right: none;
		min-height: 0;
		margin-bottom: 32px;
	}
}

.title{
	text-transform: uppercase;
    font-weight: 300;
	font-size: 25px;
	padding-bottom: 15px;
}

#amountList{
	margin-top: 20px;
	margin-left: -25px;
	li{
		font-size: 20px;
	    height: 37px;
	    margin: 0 auto;
	    width: 100px;
	}
	div{
		width: 30px;
		float: left;
	}
}

#amount_custom{
	margin-top: 0;
    width: 120px;
}

// Donations

#profileColumn.column{
	height: 375px;
}
@media (max-width:980px){
	#profileColumn.column{
		height: 230px;
		margin-bottom: 0;
	}
}
