// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#eventsList > li{
	float: left;
	margin: 2% 2% 2% 0;
	width: 48%;
	border-bottom: 1px solid #a0a0a0; 

	.dateBox{
		float: left;
  margin-right: 15px;
  padding: 5px;
  width: 47px;
		border-radius: 6px;
		background: none repeat scroll 0 0 #232B4D;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
	}
	.basicInfo{
		padding-top: 7px;
	}
	.description{
		clear: both;
		padding-top: 15px;
	}
}
