// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bourbon';
@import "partials/bits";
@import 'bootstrap-datetimepicker';

.glyphicon-calendar{
	margin-left: 10px;
	cursor: pointer;
}

.row{
	margin: 0;
	& > div{
		padding: 0;
	}
}

th{
	width: 90px;
}

.eventsList {
	@include clearfix;
}

label{
	display: inline;
}

.indexMainTitle{
	margin-bottom: 55px;	
}

.profile{
	padding: 30px;
}

#eventsList{
	padding: 0;
}
#eventsList .event{
	height: 315px;
	margin: 20px 0 0 0;
	.dateBox{
		float: left;
		margin-right: 15px;
		padding: 5px;
		width: 47px;
		border-radius: 5px;
		background: $brandBlue;
		color: #FFFFFF;
		text-align: center;
		font-size: 17px;
	}
	.basicInfo{
	}
	.description{
		border-bottom: 1px solid #a0a0a0; 
		clear: both;
		padding: 15px 0;
	}
}

@media (max-width: 768px){
	#eventsList .event{
		height: auto;
	}
}
