// Place all the styles related to the Jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#basicInfo, #detailInfo{
	float: left;
}

#detailInfo{
	width: 70%;
}

#basicInfo{
	margin-right: 60px;
    width: 280px;
	ul{
		li{
			clear: both;
			height: 22px;
		}
		div{
			float: left;
			width: 100px;
		}
	}
}

.content{
	padding-top: 15px;
	margin-bottom: 20px; 
}