// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form .row > div{
	margin: 10px 0;
}

textarea.form-control{
	height: 180px;
	width: 100px;
}

.detailTitle{
	clear: left;
	padding: 23px 0 9px;
}

#basicInfo .detailTitle{
	margin-top: 0;
}

input[type="text"]{
	width: 100%;
	margin: 0;
}

#social {
	input[type="text"]{
		width: 100%;
	}
}
#member_summary{
	width: 100%;
}

a.remove{
	float: none;
}

#headlineInput{
	height: 40px;
}

/* Listing */

.listTitle{
	font-size: 18px;
}

.listBody{
	margin: 10px 0; 
}

.search_column{
	padding: 5px;
	border: 1px solid #CACACA;
	border-radius: 5px;
	text-align: center;
}

label[for="member_Avatar"]{
	float: left;
}
#memberImg{
	float: left;
	border: 1px solid #e6e6e6;
	width: 200px;
	height: 200px;
	margin-bottom: 20px;
}

#memberProfile{
	border: 1px solid #e6e6e6;
	padding: 15px;
	font-size: 13px;
	text-transform: uppercase;
	overflow: hidden;
}

#membersList, #titleList{
	li.row{
		clear: both;
		div.cell{
			border-bottom: 1px solid #E5E5E5;
		    border-right: 1px solid #E5E5E5;
		    float: left;
		    height: 42px;
		    padding-top: 11px;
		    text-align: center;
		}
	}
}


#titleList{
	margin-bottom: 0;
}
#titleList li.row div.cell{
	border: none;
	height: 52px;
}

.row{
	margin: 0;
}

#basicInfo{
	#headline{
		margin: 5px 0 15px 0;
	}
	& > div{
		padding: 0;
	}
}

.button{
	margin: 0;
}

.socialIcon{
	width: 50px;
	height: 50px;
	float: left;
	&.small{
		width: 25px;
		height: 25px;
	}
}
