// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input[type="text"]{
	width: 140px;
	margin: 0;
}

/* Listing */

.listTitle{
	font-size: 18px;
}

.listBody{
	margin: 10px 0; 
}

.search_column{
	padding: 5px;
	border: 1px solid #CACACA;
	border-radius: 5px;
	text-align: center;
}

#membersList, #titleList{
	li.row{
		clear: both;
		div.cell{
			border-bottom: 1px solid #E5E5E5;
		    border-right: 1px solid #E5E5E5;
		    float: left;
		    height: 42px;
		    padding-top: 11px;
		    text-align: center;
		    width: 16.6%;
		}
	}
}

#titleList{
	margin-bottom: 0;
}
#titleList li.row div.cell{
	height: 52px;
}

/* Profiles */

#profileImg, #basicInfo, #detailInfo{
	float: left;
}
#profileImg{
	margin-right: 10px;
}
#basicInfo{
	margin: 10px 30px 0 0;
    width: 400px;
	
	#headline{
		clear: both;
		margin: 5px 0 15px 0;
	}
	#infoList{
		margin-bottom: 50px;
		li {
			height: 18px;
			div{
				float: left;
				width: 90px;
			}	
		}
	}
}

#detailInfo{
	width: 550px;
}

.socialIcon{
	float: left;
	margin-right: 5px;
	width: 50px;
	height: 50px;
}