// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Medium and above
@media (min-width: 992px){
	
}

// Small and below
@media (max-width: 992px){
	#aboutWidget{
		margin: 25px 0;
	}
}

// Home 
.home_member{
	.list{
		background: #2e3a60;
		height: 200px;
		padding: 15px 0;
		border-right: 2px solid #ffffff;
		margin-bottom: 20px;
		&:hover{
			background: #3d4c79;
		}
		.title{
			color: #ffffff;
			text-align: center;
		}
		.logo{
			color: #ffffff;
			font-size: 100px;
			margin-top: 25px;
			text-align: center;
			width: 100%;
		}
	}
}

// Contact
.contact-box{
	display: block;
	height: 50px;
	margin-bottom: 10px;
	cursor: pointer;
	color: #ffffff;
	text-align: center;
	padding-top: 15px;
	background: #232B4D;
	&:hover, &.current{
		background: #A9C9D6;
		color: #ffffff;
	}
}
input{
	margin: 15px 0;
}

// About 
.aboutList li{
	text-align: center;
	font-size: 13.5px;
	text-transform: uppercase;
}

// Charity list
#charityList li{
	font-size: 13.5px;
	text-transform: uppercase;	
}