<div class="mainTitle">
	<span>Brothers Database</span>
	<%= new_button 'New', new_member_path %>
	<%= link_to 'Import', import_form_members_path, class: "button pull-right" %>
</div>
<%= render 'search_columns' %>
<div id="members">
	<%= render 'members_list' %>
</div>